html {
    filter: none;
}

.pro-primary {
    /* background-color: rgb(235, 255, 57) !important; */
    color: rgb(15, 50, 155) !important;
    /* font-weight: bold; */
}

.pro-secondary {
    /* background-color: rgb(235, 255, 57) !important; */
    color: rgb(86, 170, 255) !important;
    /* font-weight: bolder; */
}

.pro-div {
    background-color: rgba(235, 255, 57, .3);
    /* color: rgb(15, 50, 155); */
}

.pro-body {
    background-color: rgb(248, 255, 187);
}

.pro-link {
    color: rgb(86, 170, 255) !important;
    /* font-weight: 800; */
    text-decoration: underline;
}

.pro-nav {
    background-color: rgb(15, 50, 155);
    color: rgb(235, 255, 57);
}

.pro-button {
    background-color: rgb(15, 50, 155);
    color: rgb(235, 255, 57);
}