html {
    filter: none;
}

.tri-primary {
    background-color: rgb(159, 159, 227);
}

/* body {
    background-color: rgb(159, 159, 227) !important;
}

a {
    color: red !important;
    font-weight: bolder !important;
}

button {
    background-color: aqua !important;
    color: black !important;
}

p {
    font-weight: bolder !important;
    color: black !important;
}

nav {
    background-color: rgb(148, 166, 255) !important;
} */