html {
    filter: none;
}

.tri-primary {
    background-color: aqua !important;
    color: black !important;
    font-weight: bold;
}

.tri-secondary {
    background-color: aqua !important;
    color: black !important;
    text-decoration: underline;
    font-weight: bolder;
}

.tri-div {
    background-color: rgba(159, 159, 227, .3);
    color: black;
}

.tri-body {
    background-color: rgb(148, 166, 255);
    color: black;
}

.tri-link {
    color: black;
    font-weight: bolder;
}

.tri-nav {
    background-color: rgb(159, 159, 227);
    color: black;
}

.tri-button {
    background-color: rgb(148, 166, 255);
    color: black;
}